@media only screen and (max-width: 992px){

    #homeBanner{
        clip-path: ellipse(122% 100% at 50% 0%);
    }

    .navbar{
        background-color: #1E3C81;
    }


    .homeBanner_text_content{
        padding-top: 42%;
    }

    .homeBanner_text_content h2{
        font-size: 4.8rem;
    }
}

@media (max-width: 991px) {
    .course_accr_benefits_bg {
        padding: 30px 10px;
    }

    .section-title {
        font-size: 2rem;
    }

    #crd_assesment .nav-pills .nav-link {
        min-width: 160px;
        font-size: 0.97rem;
        padding: 0.6rem 0.7rem;
    }
    #crd_assesment .tab-content {
        padding: 1.2rem !important;
    }

    .credential_m_card {
        padding: 24px 10px 18px 10px;
        min-height: 370px;
    }
    .credential_m_card .crd_name h5 {
        font-size: 1rem;
        min-height: 38px;
    }
    .credential_m_card .crd_img {
        width: 70px;
        height: 70px;
    }
    .credential_m_card .crd_img img {
        width: 54px;
        height: 54px;
    }
}

@media only screen and (max-width: 768px){
    .homeBanner_text_content h2 {
        font-size: 3.8rem;
    }

    .homeBanner_text_content {
        padding-top: 59%;
    }

    .logo{
        width: 104px;
    }

    .course_accr_timeline_v2::before{
        left: 6%;
    }

    .img_txt_1{
        margin-top: 20px;
    }

    /* #partners .marquee_slider.v1{
        margin-right: -22px;
    } */
    #partners {
        overflow: hidden;
        height: auto;
        padding-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .crd-modal-content {
        padding: 10px;
    }
    .crd-modal-form .row.g-3 {
        gap: 0.5rem;
    }

    #home_testimonial .swiper-slide {
        padding: 20px 10px 18px 10px;
        min-height: 300px;
        max-width: 95vw;
    }
    #home_testimonial .ht_name h5 {
        font-size: 1rem;
    }
    #home_testimonial .ht_text p {
        font-size: 0.97rem;
    }


}

@media only screen and (max-width: 540px){
    .homeBanner_text_content h2{
        font-size: 3.5rem;
    }

    .homeBanner_text_content {
        padding-top: 75%;
    }
}

@media only screen and (max-width: 512px){
    #homeBanner{
        clip-path: ellipse(148% 100% at 50% 0%);
    }

    #homeAbout .section_heading h2::before , #homeAbout .section_heading h2::after{
        width: 90px;
    }
}

@media only screen and (max-width: 480px){
    .homeBanner_text_content h2{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 425px){
    .homeBanner_text_content h2{
        font-size: 3rem;
    }

    header.active .logo{
        width: 80px;
    }

    .course_accr_timeline_v2::before{
        left: 7%;
    }
}

@media only screen and (max-width: 419px){
    .homeBanner_text_content {
        padding-top: 72%;
    }
}

@media only screen and (max-width: 396px){
    #homeAbout .section_heading h2::before , #homeAbout .section_heading h2::after{
        width: 70px;
    }
}

@media only screen and (max-width: 340px){
    .homeBanner_text_content h2{
        font-size: 2.8rem;
    }
}

